<div class="container" >
    <h2>Reservas</h2>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#Reserva</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha inicio</th>
            <th scope="col">Fecha fin</th>
            <th scope="col">Alojamiento</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserva of reservas">
            <th>{{reserva.idReserva}}</th>
            <td>{{reserva.nombre}}</td>
            <td>{{reserva.apellido}}</td>
            <td>{{reserva.inicioFecha}}</td>
            <td>{{reserva.finFecha}}</td>
            <td>{{reserva.alojamiento}}</td>
          </tr>
       
        </tbody>
      </table>

</div>
